# Exports

export(NVC_SSL)
export(NVC_predict)
export(NVC_frequentist)

# Imports

importFrom("splines","bs")
importFrom("stats","sd","qchisq","quantile","rgamma","rbinom","rbeta","rnorm")
importFrom("dae","mat.dirsum")
importFrom("plyr","count")
importFrom("Matrix","chol2inv","chol")
importFrom("GIGrvg","rgig")
importFrom("MASS","mvrnorm")
importFrom("MCMCpack","riwish")
importFrom("grpreg","grpreg","select")
importFrom("mvtnorm","dmvnorm")